	body {
		background: #FFFFFF; 
	}
	.line {
		border-top: 5px solid #7FFFD4;
		margin: auto;
		width: 650px;
		background: #FFF8DC;
	}
	.noline {
		margin: auto;
		width: 650px;
	}
	.pdiv {
		margin-left: 35px;
	}
	h2 {
		width: 520px;
		margin: auto;
		margin-top: 45px;
	}
	a.knopka {
  		color: #fff; /* цвет текста */
  		text-decoration: none; /* убирать подчёркивание у ссылок */
  		user-select: none; /* убирать выделение текста */
  		background: #3CB371; /* фон кнопки */
  		padding: .7em 1.5em; /* отступ от текста */
  		outline: none; /* убирать контур в Mozilla */
	} 
	a.knopka:hover { 
		background: #2E8B57;
	} /* при наведении 	 курсора мышки */
	a.knopka:active { 
		background: #3CB371; 
	} /* при	нажатии */
	.pmini {
		font-size: 80%;
		padding-bottom: 60px;
	}
	div.knopka {
		margin: 50px;
	}
	.pbot {
		margin: auto;
		width: 650px;
		padding: 45px 0px;
	}
	ul {
		list-style-type: none;
		vertical-align: top;
		display: inline-block;
		padding: 0;
		margin: 0;
	}
	li {
		display: inline-block;
    	vertical-align: top;
    	margin: 15px;
	}